/* =============================================================
   Media Queries para responsividade do projeto To-Do List
   ============================================================= */


/* 
Typical Device Breakpoints
---------------------------------
    DISPOSITIVO       MAX-WIDTH
---------------------------------
⭐ Mobile Mini          320px
📱 Mobile Pequeno	      375px
📱 Mobile Médio	        425px
📲 Tablet P             768px
💻 Laptop / Tablet G    1024px
💻 Desktop              1280px
🖥️ Desktop G	           1440px
📺 4K / Ultra-Wide	    2560px+ 
---------------------------------
*/

/* -------------------------------------------------------------   
Tablets P (até 768px)
---------------------------------------------------------------- */
@media screen and (max-width: 768px) {

  .gradient,
  h2,
  footer,
  .navbar {
    display: none;
  }

  body {
    padding: 0;
  }

  .container {
    height: 90vh;
  }

  #task-area {
    max-height: 70%;
  }

  #list-name {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .add-task input {
    width: 100%;
  }

  .tabs {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/* -------------------------------------------------------------   
  Dispositivos Móveis G (até 480px)   
---------------------------------------------------------------- */
@media (max-width: 480px) {

  #list-name {
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .tabs {
    font-size: .93em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  label {
    width: 88%;
  }

  #icons {
    display: flex;
  }
}
/* -------------------------------------------------------------   
  Dispositivos Móveis M (até 425px) 
---------------------------------------------------------------- */
@media (max-width: 425px) {

  label {
    width: 85%;
  }
}

/* -------------------------------------------------------------   
  Dispositivos Móveis P (até 375px) 
---------------------------------------------------------------- */
@media (max-width: 375px) {

  label {
    width: 90%;
  }

  #icons {
    flex-direction: column;
  }
}

/* -------------------------------------------------------------   
  Dispositivos Móveis Mini (até 320px) 
---------------------------------------------------------------- */
@media (max-width: 320px) {

  .add-task input,
  .editable-text {
    font-size: .9em;
  }

  #list-name {
    font-size: 1em;
    width: 100%;
    margin-top: 0;
  }
}